@import 'tailwindcss';

:root {
  --background: #f0fff0;
  --foreground: #111827;
}
/* Headings and paragraphs */
h1 {
  font-size: 3rem; /* mobile base <640px */
  font-family: var(--font-quicksand-sans-serif);
}
h2 {
  font-size: 2rem; /* mobile base <640px */
  font-family: var(--font-quicksand-sans-serif);
}
h3 {
  font-size: 1.5rem; /* mobile base <640px */
  font-family: var(--font-quicksand-sans-serif);
}
p {
  font-size: 1rem; /* mobile base <640px */
  font-family: var(--font-inter-sans-serif);
}
@media (min-width: 640px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 2.3rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  p {
    font-size: 1.125rem;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    --foreground: #f0fff0;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-tangerine-calligraphy),
    var(--font-quicksand-sans-serif), var(--font-inter-sans-serif), Arial;
}
/* Fonts */
.text-tangerine-calligraphy {
  font-family: var(--font-tangerine-calligraphy), cursive;
}

.text-quicksand-sans-serif {
  font-family: var(--font-quicksand-sans-serif), sans-serif;
}

.text-inter-sans-serif {
  font-family: var(--font-inter-sans-serif), sans-serif;
}
/* Text-Color */
.text-color {
  color: var(--foreground);
}
/* Images and Icons */
.hero-1 {
  src: url('/hero-1.png');
}

.logo-nav {
  src: url('/logo.png');
}

header {
  background-color: var(--background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
}